
.title {
    
}

body {
    background: url("../img/fondo-web.png") no-repeat no-repeat center fixed;
}

.logo {
    height: 150px;
}

.captura {
    height: 200px;
    width: 400px;
}

img.icono {
    height: 30px;
    width: 30px;
}

li a {
    color: black !important;
}

.button {
    background-color: #7DAD29 !important;
}

.button:hover {
    background-color: #5F753F !important;
}
